[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Jenkins Docker image with Docker binaries
[access "refs/*"]
	owner = group user/xkx
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xkx
	label-Verified = -1..+1 group user/xkx
	push = group user/xkx
	read = group user/xkx
	rebase = group user/xkx
	removeReviewer = group user/xkx
	submit = group user/xkx
[access "refs/heads/*"]
	create = group user/xkx
	push = +force group user/xkx
	pushMerge = group user/xkx
	read = group user/xkx
[access "refs/tags/*"]
	push = group user/xkx
	push = +force group user/xkx
